<div class="form-container">
    <div class="card-container" *ngIf="student">
        <mat-card class="student-card">
            <mat-card-header style="background-color: #3f5185;">
                <mat-card-title style="color: white;"><strong>{{ student.name }}</strong></mat-card-title>
                <mat-card-subtitle style="color: white;">Class : <strong>{{ student.studentClass }}</strong></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content style="margin-top: 10px;">
                <p>Email : <strong>{{ student.email }}</strong></p>
                <p>Contact Number : <strong>{{ student.contactNumber }}</strong></p>
                <p>Father Name : <strong>{{ student.fatherName }}</strong></p>
                <p>Mother Name : <strong>{{ student.motherName }}</strong></p>
                <p>Date of Birth : <strong>{{ student.dob | date: 'MMM/dd/yyyy' }}</strong></p>
                <p>Gender : <strong>{{ student.gender }}</strong></p>
                <p>Address : <strong>{{ student.address }}</strong></p>
            </mat-card-content>
            <mat-card-actions class="actions-right">
                <button mat-button color="accent" [routerLink]="['/student/update']">Update</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
