<div class="bg">
    <mat-spinner *ngIf="isSpinning" [diameter]="50" class="spinner"></mat-spinner>
    <div class="child">
        <h1 class="form-title">Apply Leave</h1>
        <form [formGroup]="validateForm" class="login-form">

            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Name</mat-label>
                <input matInput type="text" placeholder="Name" formControlName="name" />
                <mat-error *ngIf="validateForm.get('name')?.hasError('required')">This input is required</mat-error>
              </mat-form-field>
              
              <mat-form-field appearance="outline" class="form-field">
                <mat-label>Class</mat-label>
                <mat-select formControlName="studentClass" placeholder="Select class">
                    <mat-option *ngFor="let class of CLASS" [value]="class">{{class}}</mat-option>
                </mat-select>
                <mat-error *ngIf="validateForm.get('studentClass')?.hasError('required')">This input is required</mat-error>
            </mat-form-field>
              
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Subject</mat-label>
                <input matInput type="text" placeholder="Subject" formControlName="subject" />
                <mat-error *ngIf="validateForm.get('subject')?.hasError('required')">This input is required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Body</mat-label>
                <textarea matInput placeholder="Body" formControlName="body"></textarea>
                <mat-error *ngIf="validateForm.get('body')?.hasError('required')">This input is required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Choose a date" />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="validateForm.get('date')?.hasError('required')">This input is required</mat-error>
            </mat-form-field>

            <button mat-raised-button color="primary" [disabled]="validateForm.invalid" (click)="applyLeave()">Submit</button>
        </form>
    </div>
</div>
